<ul class="socials">
	{% for url in site.data.settings.social_settings %}
	{% if url[1] != '' %}
	<li class="socials__item">
		<a href="{{ url[1] }}" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="{{ url[0] | remove: '_url' | replace: '-', ' ' | capitalize }}">
			<i class="fab fa-{{ url[0] | replace: 'facebook', 'facebook-f' | remove: '_url' }}" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}
	{% endfor %}
	<li class="socials__item">
		<a href="https://b-agile.de" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="Website: b-agile.de">
			<i class="fa fa-globe" aria-hidden="true"></i>
		</a>
	</li>
	<li class="socials__item">
		<a href="/imprint" class="socials__item__link" title="Imprint & Privacy">
			<i class="fa fa-gavel" aria-hidden="true"></i>
		</a>
	</li>
</ul>